node_modules/
dist/
resources/
!resources/
resources/*
!resources/nextcloud-demo-2026-2027/
!resources/nextcloud-demo-2026-2027/**
.vite/
*.tsbuildinfo
vite.config.js
vite.config.d.ts
*.local
.env
.env.*
!.env.example
